/* reset */
h1, h2, h3, ul, li, button {
  padding: 0;
  margin: 0;
}

button {
  background: none;
  border: none;
  font: inherit;
}

button:not(:disabled) {
  cursor: pointer;
}

ul, li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* font */
body {
  font-family: 'Roboto', sans-serif;
}