:root {
  font-family: 'Montserrat', sans-serif;
	font-weight: 500;
}

/* reset */
body,
h1,
h2,
h3,
p,
ul,
li,
button {
	margin: 0;
	padding: 0;
}

h1,
h2 {
	font-size: inherit;
	font-weight: inherit;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: top;
}

ul, li {
	list-style: none;
}

button {
	background: none;
	border: none;
	cursor: pointer;
}

strong {
	font-weight: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}

.section {
	padding: 100px 0;
}

.section1 {
	background-color: seashell;
}

.section2 {
	background-color: #673399;
}

.wrapper {
	max-width: 1080px;
	margin: auto;
}

/* header */

.section-header {
	margin-bottom: 100px;
}

.title {
	display: flex;
	align-items: center;
}

.section1 .title {
	justify-content: space-between;
}

.title h1 {
	flex-shrink: 0;
	font-size: 40px;
}

.section1 .title h1 {
	flex-basis: 33%;
	flex-shrink: 0;
	color: salmon;
}

.section2 .title h1{
	flex-basis: 26%;
	color: #fff;
}

.title button {
	background-color: orangered;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 3px 0 rgb(191, 51, 1);
}

.title strong {
	position: relative;
	display: inline-block;
}

.section1 .title strong {	
	box-shadow: inset 0 -20px 0 #fff;
}
.section2 .title strong {
	box-shadow: inset 0 -20px 0 orangered;
}

.title p {
	display: flex;
	align-items: center;
	width: 500px;
	color: #bd8fe8;
	font-size: 14px;
}

.title p::before {
	content: ' ';
	width: 200px;
	height: 2px;
	margin-right: 30px;
	background-color: #bd8fe8;
}

/* contents */

.section1 .section-contents {
	display: flex;
	gap: 24px;
}

.section1 .card {
	display: flex;
	flex-direction: column;
	flex-basis: 33%;
}

.section2 .card {
	display: flex;
	margin-bottom: 24px;
}

.card:last-child {
	margin: 0;
}

.section2 .card:nth-child(even) {
	flex-direction: row-reverse;
}

.section1 .card-cover {
	border-bottom: 3px solid black;
}

.section2 .card-cover {
	flex-basis: 26%;
	flex-shrink: 0;
	position: relative;
}

.card-cover img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.card-cover h2 {
	position: absolute;
	inset: 0;
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
}

.sold-out {
	position: relative;
}

.sold-out::after {
	content: ' ';
	position: absolute;
	top: -10px;
	left: -10px;
	width: 100%;
	height: 100%;
	background: url(./images/badge.png) no-repeat;
}


.card-content {
	flex-grow: 1;
	flex-basis: 0;
	background-color: #fff;
	min-width: 0;
	padding: 24px;
}


.card-content span {
	font-size: 12px;
	font-weight: bold;
	padding: 5px;
	border-radius: 3px;
	background-color: #f1e0f8;
	color: #673399;
}

.card-content h2 {
	font-size: 24px;
	font-weight: bold;
	margin: 24px auto 32px;
}

.card-content p {
	font-size: 14px;
}

.card-footer {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #fff;
	height: 68px;
	padding: 0 24px;
}

.card-footer::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	width: calc(100% - 24px);
	height: 3px;
	background-color: #eee;
	margin-left: 24px;
}

.card-footer img {
	height: 30px;
	border: 5px solid #fff;
	border-radius: 50%;
	margin: -10px;
}

.card-footer p,
.card-footer a {
	font-size: 12px;
	margin: 0;
}

.card-content h3 {
	color: #673399;
	font-size: 18px;
	margin-bottom: 32px;
}


.card-content li {
	padding-left: 20px;
	text-indent: -20px;
	font-size: 14px;
	margin-bottom: 10px;
}

.card-content li:last-child {
	margin-bottom: 0;
}

.card-content li::before {
	content:  ' ';
	display: inline-block;
	width: 10px;
	height: 10px;
	background-color: #bd8fe8;
	border-radius: 50%;
	margin-right: 10px;
}


/* 반응형 */

@media (max-width: 1200px) {
	.section .wrapper {
		width: 70%;
	}
	.section-contents {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.section1 .title h1{
		flex-basis: 70%;
		flex-shrink: 0;
	}

	.section2 .card {
		flex-direction: column;
	}

	.section2 .card:nth-child(even) {
		flex-direction: column;
	}

	.card {
		width: 500px;
	}
	.card-cover img {
		aspect-ratio: 3 / 1;
		width: 500px;
	}
}